.butonGrila {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#6495ED;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:15px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top: 300px;
}
.butonGrila:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.butonGrila:active {
	position:relative;
	top:1px;
}
.butonTF {
	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#6495ED;
	border-radius:15px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:15px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-top: 300px;
}
.butonTF:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.butonTF:active {
	position:relative;
	top:1px;
}
