.sliders{
    width: 100%;
    height: 70vh;
    background: center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.sliders::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    //*background-color: var(--purple-transparent-alt);*//
    z-index: -1;
}

.main-heading{
    color:#fff;
    line-height: 0;
    text-shadow: 1px 1px 1rem rgba(0,0,0,.5);
    margin-bottom: 2.5rem;
}
